extends ../layouts/default
block content
    header
      include ../views/navbar
      include ../views/menu
     section
      #inner-banner
      #inner-content-box#content-box
        .container
          #offerings
            .col-md-9.text-right
              ul.list-inline
                li
                  a(href="#",onclick="printFunction()")
                    i.fa.fa-lg.fa-print
                li
                  a#pdf
                    i.fa.fa-lg.fa-file-pdf-o
                li
                  a(href="#")
                    i.fa.fa-lg.fa-envelope
            .col-md-9#content-data
              .row
                .col-md-4
                  if data.allnewess.length
                      if data.allnewess[0].image.exists
                        img(id="image",src=data.allnewess[0]._.image.limit(640,640))
                .col-md-8
                small #{data.allnewess[0].date}
                  p
                    | #{data.allnewess[0].news1}
               .row
                .col-md-4
                 if data.allnewess.length
                      if data.allnewess[0].image1.exists
                        img(id="image1",src=data.allnewess[0]._.image1.limit(640,640))
                .col-md-8
                small #{data.allnewess[0].date}
                  p
                    | #{data.allnewess[0].news2}

               .row
                .col-md-4
                  if data.allnewess.length
                      if data.allnewess[0].image2.exists
                        img(id="image2",src=data.allnewess[0]._.image2.limit(640,640))
                .col-md-8
                small #{data.allnewess[0].date}
                  p
                    | #{data.allnewess[0].news3}
               .row
                .col-md-4
                  if data.allnewess.length
                      if data.allnewess[0].image3.exists
                        img(id="image3",src=data.allnewess[0]._.image3.limit(640,640))
                .col-md-8
                small #{data.allnewess[0].date}
                  p
                    | #{data.allnewess[0].news4}
            include ../views/companyinfolistmenu
      .container-fluid
        .row
          footer
            include ../views/footer
            