extends ../layouts/default
block content
    header
      include ../views/navbar
      include ../views/menu
     section
      #inner-banner
      #inner-content-box#content-box
        .container
          #offerings
            .col-md-9.text-right
              ul.list-inline
                li
                  a(href="#",onclick="printFunction()")
                    i.fa.fa-lg.fa-print
                li
                li
                  a#pdf
                    i.fa.fa-lg.fa-file-pdf-o
                li
                li
                  a(href="/message")
                    i.fa.fa-lg.fa-envelope
            .col-md-9
              .row
                .col-md-4
                  if data.companyprofiles.length
                      if data.companyprofiles[0].image.exists
                        img(id="image",src=data.companyprofiles[0]._.image.limit(640,640))
                .col-md-8
                  p
                    | #{data.companyprofiles.companyProfiletext}
                  p
                    | #{data.companyprofiles.companyProfilesubtext}
                  p
                    | #{data.companyprofiles.companyProfileshortstring}
                    br
                    | #{data.companyprofiles.companyProfilelongstring}
                    br
                    | #{data.companyprofiles.companyProfilesubstring}
                    br
                    | #{data.companyprofiles.companyProfilesubstringtext}
            include ../views/companyinfolistmenu
      .container-fluid
        .row
          footer
            include ../views/footer
            