.col-md-3
  .offer-listing
    li
      a(href="/consultingservice")
        i.fa.fa-chevron-right
        | #{data.consultingservicesubmenus[0].consulting}
      ul
        li 
          a(href="/data-warehouse")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].datawarehouse}
        li
          a(href="/businessintelligence")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].visualbusiness}
        li
          a(href="/predictive-modeling")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].predictivemodeling}
        li
          a(href="/comparative-benchmarking")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].comparativebenchmarking}
        li
          a(href="/geo-spatial-analytic")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].geospaticalanalytics}
        li
          a(href="/ecommerce-portal")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].ecommerceportal}
        li
          a(href="/business-process-strategy")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].businessprocessstrategy}
        li
          a(href="/information-reporting-strategy")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].informationreporting}
        li
          a(href="/social-media-analysis")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].socialmedia}