.col-md-3
  .offer-listing
    li
      a(href="/consultingservice")
        i.fa.fa-chevron-right
        | #{data.consultingservicesubmenus[0].consulting}
      ul 
        li
          a(href="/data-warehouse")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].msp}
        li
          a(href="/specializedanalyse")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].specialiseAnyalise}
        li
          a(href="/technologyresale")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].technologyResale}
        li
          a(href="/technologyresale")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].technologyResale}
        li
          a(href="/technologyresale")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].technologyResale}
        li
          a(href="/technologyresale")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].technologyResale}
        li
          a(href="/technologyresale")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].technologyResale}
        li
          a(href="/technologyresale")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].technologyResale}
        li
          a(href="/technologyresale")
            i.fa.fa-chevron-right
            | #{data.consultingservicesubmenus[0].technologyResale}