extends ../layouts/default
block content
    header
      include ../views/navbar
      include ../views/menu
     section
      #inner-banner
      #inner-content-box#content-box
        .container
          #offerings
            .col-md-9.text-right
              ul.list-inline
                li
                  a(href="#",onclick="printFunction()")
                    i.fa.fa-lg.fa-print
                li
                li
                  a#pdf
                    i.fa.fa-lg.fa-file-pdf-o
                li
                li
                  a(href="/message")
                    i.fa.fa-lg.fa-envelope
            .col-md-9
              .row
                .col-md-4
                  if data.differentiators.length
                      if data.differentiators[0].differentiatorImage.exists
                        img(id="image",src=data.differentiators[0]._.differentiatorImage.limit(640,640))
                .col-md-8
                  p
                    | #{data.differentiators[0].differentiatorText}
               .row
                .col-md-4
                 if data.differentiators.length
                      if data.differentiators[0].differentiatorSubImage.exists
                        img(id="image",src=data.differentiators[0]._.differentiatorSubImage.limit(640,640))
                .col-md-8
                  p
                    | #{data.differentiators[0].differentiatorShortSubText}
                    br
                    | #{data.differentiators[0].differentiatorLongSubText}

               .row
                .col-md-4
                  if data.differentiators.length
                      if data.differentiators[0].differentiatorSubStringImage.exists
                        img(id="image",src=data.differentiators[0]._.differentiatorSubStringImage.limit(640,640))
                .col-md-8
                  p
                    | #{data.differentiators[0].differentiatorShortStringText}
                    br
                    | #{data.differentiators[0].differentiatorLongStringText}
               .row
                .col-md-4
                  if data.differentiators.length
                      if data.differentiators[0].differentiatorSubtextImage.exists
                        img(id="image",src=data.differentiators[0]._.differentiatorSubtextImage.limit(640,640))
                .col-md-8
                  p
                    | #{data.differentiators[0].differentiatorTextLong}
            include ../views/companyinfolistmenu
      .container-fluid
        .row
          footer
            include ../views/footer
            